.effect {
    width: 936px;height: 435px;
    float: left;
}

.slides {
    position: relative;float:left;width:936px;height: 396px;overflow: hidden;
}
.active{
	position:absolute;
}
.active img{
    width: 936px;height: 435px;
}
/*图片轮播按钮*/
.pager {
    width: 122px;height:40px;position: absolute;right: 390px;top:400px;z-index: 1;
}
.pager li{
	display: inline-block;float: left;margin-right: 4px;margin-top:6px;width: 20px;height: 20px
}
.pager li a{
	display: block;float: left;width:13px;height:13px;font-size: 0;line-height: 0;border-radius:50%;
}

#container{
    overflow: hidden;padding: 0 31px;padding-top: 3px;width: 936px;margin: 0 auto;}
.index_left {
    width: 530px;float: left;padding-left: 30px;padding-bottom: 10px;
}
.title{
	width: 530px;height: 34px;line-height: 34px;margin-bottom: 15px;
}
.title span {
    float: left;height: 34px;line-height: 34px;font-size: 16px;font-weight: bold;width: 100px;
    color: #334fa0;border-bottom: 3px solid #334fa0;margin-right: 1px;text-align: center;
}
.title .link {
    float: right;padding-right: 9px;width: 420px;text-align: right;border-bottom: 3px solid #accbe9;
}
.left_intro dl {
    height: 86px;overflow: hidden;
}
.left_intro dt {
    float: left;width: 138px;height: 78px;
}
.left_intro dt img {
    margin: 0 auto;display: block;margin-top: 9px;
}
.left_intro dd {
    float: right;width: 370px;padding-right: 10px;padding-top: 6px;line-height: 18px;
}
.left_intro dd a {
    padding-left: 20px;color: #0070b3;font-size: 14px;
    display: block;font-weight: bold;margin-bottom: 3px;white-space: nowrap;text-overflow: ellipsis;
    overflow: hidden;height: 20px;
}
.left_intro dd span {
    padding-left: 20px;
    display: block;
}
.left_intro01 .title {
    width: 530px;height: 34px;line-height: 34px;margin-bottom: 15px;
}
.left_intro01 .title span {
    float: left;height: 34px;line-height: 34px;font-size: 16px;font-weight: bold;width: 100px;
    color: #62bd19;border-bottom: 3px solid #62bd19;margin-right: 1px;text-align: center;
}
.left_intro01 .title .link {
    float: right;padding-right: 9px;width: 420px;text-align: right;border-bottom: 3px solid #bce18d;
}
.left_intro01 dt {
    float: left; width: 160px;height: 80px;
}
.left_intro01 dt img {
    margin: 0 auto;display: block;margin-top: 9px;
}
.left_intro01 dd {
    float: right;width: 340px;padding-right: 10px;padding-top: 6px;
}
.left_intro01 dd a {
   padding-left: 25px;color: #62bd19;display: block;margin-bottom: 5px;
}
.left_intro01 dd span {
    padding-left: 25px;display: block;
}
.right_intro {
    width: 320px;float: left;padding-left: 26px;
}
.right_intro .title {
    width: 320px;height: 34px;line-height: 34px;
}
.right_intro .title span {
    float: left;height: 34px;line-height: 34px;font-size: 16px;font-weight: bold;width: 100px;
    color: #fc820b;border-bottom: 3px solid #fc932c;margin-right: 1px;text-align: center;
}
.right_intro .title .link {
    float: right;padding-right: 9px;width: 210px;text-align: right;border-bottom: 3px solid #fdc3aa;
}
.right_intro dl {
    margin-top: 16px;height: 98px;
}
.right_intro dt {
    float: left;width: 130px;height: 82px;
}
.right_intro dd {
    float: right;width: 150px;padding-right: 20px;padding-bottom: 5px;border-bottom: 1px dashed #ddd;height: 76px;line-height: 18px;
}
.right_intro dd a {
    color: #fc932c;display: block;margin-bottom: 2px;
}
.right_intro dt img {
    margin: 0 auto;display: block;margin-top: 10px;
}
.other dt{
	float: right;
}
