.right_1 .ac_con {
    width: 600px;
    margin-top: 18px;
}
.right_1 .ac_intro span{
    color: #a11918;
}
.right_1 .in_list2 {
    margin-bottom: 15px;
    width: 620px;
}
.right_1 .in_list2 ul li {
    padding-left: 15px;
    padding-bottom: 5px;
    width: 620px;
    float: left;
}
.right_1 .in_list2 ul li a {
    width: 97%;
    padding-left: 5px;
    display: block;
    line-height: 30px;
    color: #778072;
    border-bottom: #d5d2d2 1px solid;
    float: left;
    font-size: 12px;
}
.more {
    float: right;
    font-size: 13px;
    color: #1f2d4a;
}
.scott {
    font-size: 12px;
    padding: 10px 0 15px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float:left;
}
.right_1 .part03 .pic {
    width: 85px;
    height: 85px;
    float: left;
    padding: 2px 0 0 2px;
}
.right_1 .part03 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.right_1 .part03 .pic {
    width: 85px;
    height: 85px;
    float: left;
    padding: 2px 0 0 2px;
}
.right_1 .news_list {
    margin-bottom: 15px;
    width: 620px;
}
.right_1 .part03 .tit {
    width: 500px;
    height: 24px;
    float: right;
}
.right_1 .part03 .tit2 {
    width: 500px;
    float: right;
    line-height: 19px;
    text-indent: 24px;
}
.clearfix {
    overflow: hidden;
}
.scott1{
    margin: 0 auto;
width: 220px;
height: 22px;
line-height: 22px;
}
.right_1 .name05 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}
