.right_1 .part02 {
	width:620px;
    height:110px;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.right_1 .part02 .pic {
    width: 170px;
    float: left;
}
.scott {
    font-size: 12px;
    padding: 10px 0 15px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float:left;
}
.more01 {
    float: right;
    color: #737272;
}