{template "content", "myheader"}
     <link rel="stylesheet" href="{CSS_PATH}mycss/inverstor.css">
     <script src="{JS_PATH}myjs/jquery.js"></script>
     <script src="{JS_PATH}myjs/xiala.js"></script>
     
			<div class="effect1">
				<img src="{IMG_PATH}images/investor_pic.jpg" alt="">

			</div>
		</div>
	</div>
	<!-- 下部分 -->
	<div id="container">
		<div class="sidebar">
			<div class="left_title">投资者关系</div>
			<ul>
				<li><a href="investor_jg.html">公司架构</a></li>
				<li><a href="investor_gz.html">公司管治</a></li>
				<li><a href="##">财务概要</a></li>
				<li><a href="investor_xxgg.html">信息公告</a></li>
				<li><a href="##">定期报告</a></li>
				<li><a href="investor_lx.html">联系信息</a></li>
			</ul>
		</div>
		<div class="right_1 long">
		     <div class="title">
		     	<span class="c3">联系信息</span> 
		     	<div class="link">
		     		<a href="index.aspx">首页</a>
		     		<span id="sp">></span> 
		     		<a href="investor.aspx">投资者关系</a> 
		     		<span id="sp">></span> 
		     		<a href="?id=23">联系信息</a>
		     	</div>
		     </div>
		     <div class="news">
		        <div>
		            <p>
		                <span style="font-size: 14px">联 系 人：董事会秘书张京彦女士 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		            </p>
		        </div>
		        <div>
		            <p>
		                <span style="font-size: 14px">电　　话：(8610)6705 6924 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
		            <p>
		            <span style="font-size: 14px">传　　真：(8610)6705 9266 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		            </p>
		            <p>
		                <span style="font-size: 14px">电子邮箱：<a href="mailto:IR@tongrentangkj.com">IR@tongrentangkj.com</a>
                    <p>
		                <span style="font-size: 14px">办公地址：中国北京市崇文区东兴隆街52号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		            </p>
		            <p>
		                <span style="font-size: 14px">邮政编码：100062 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		            </p>
		         </div>
		         <div>
		            <p>
		               <span style="font-size: 14px">如果您想了解投资者关系方面的问题，请将邮件发到以上信箱。请提供您的姓名和联系方式，并请注明您是个人投资者还是机构投资者，如果您是机构投资者，请提供机构名称。</span>
		           </p>
		         </div>
		         <p><br></p>
		     </div>
         </div>
		
	</div>
	
 {template "content", "myfooter"}
