{template "content", "myheader"}
     <link rel="stylesheet" href="{CSS_PATH}mycss/inverstor.css">
   	  <link rel="stylesheet" href="{CSS_PATH}mycss/list_title.css">
   		{template "content", "mybanner"}
	<!-- 下部分 -->
	{template "content", "myleft"}
		    
            <div class="cont1">
            	 {pc:content action="lists" num="1" siteid="$siteid" moreinfo="1" order="id ASC" catid="$catid"}
                {loop $data $v}
	          <div>{$v[content]}</div>
	           {/loop}
          {/pc}
            </div>
             
         </div>
		
	</div>
	
 {template "content", "myfooter"}

