{template "content", "myheader"}
     <link rel="stylesheet" href="{CSS_PATH}mycss/inverstor.css">
   	  <link rel="stylesheet" href="{CSS_PATH}mycss/list_new.css">
   	  <script src="{JS_PATH}myjs/jquery.js"></script>
   		{template "content", "mybanner"}
	<!-- 下部分 -->
	{template "content", "myleft"}
		    {pc:content action="lists" num="6" siteid="$siteid" moreinfo="1" order="id ASC" catid="$catid" page="$page"}
                {loop $data $v}
			<div class="part line">	 
				<div class="list_name">
					<a href="">
						<h3>{$v[title]}</h3>
					</a>
					<span>{date("Y-m-d",$v[inputtime])}</span>
				</div>
				{if $v[thumb]}
				<div  class="pic" style="background: url({IMG_PATH}images/news_pic5_bg.jpg)">
					<a href="">
						<img src="{$v[thumb]}" alt="" height="75" width="109">
					</a>
				</div>
				<div class="tit2">{str_cut(strip_tags($v[content]),400,'...')}</br>
				<a href="{$v[url]}" class="more">阅读全文>></a>
				</div>
				{else}
				<div class="tit3">{str_cut(strip_tags($v[content]),400,'...')}</br>
				<a href="{$v[url]}" class="more">阅读全文>></a>
				</div>
				{/if}	
			</div>
			{/loop}
				{/pc}
               
			<div class="scott">
				<div class="scott1">
					{$pages}
				</div>
				<script>
				$(".scott1>.a1:first").css("display","none")
				</script>
         </div>
     </div>
		
	</div>
	
 {template "content", "myfooter"}

