{template "content", "myheader"}
     <link rel="stylesheet" href="{CSS_PATH}mycss/list_ylfw.css">
   		
   	{template "content", "mybanner"}
	<!-- 下部分 -->
	{template "content", "myleft"}
		   {pc:content action="lists" num="4" siteid="$siteid" moreinfo="1" order="id ASC" catid="$catid" }
                {loop $data $v}
                {if $v[thumb]}
              <div id="Repeater1_ctl00_depth1" class="part line clearfix">
				<div class="pic" style=" background: url({IMG_PATH}images/news_pic5_bg.jpg);">
					<a href="{$v[url]}"><img src="{$v[thumb]}" height="75" width="109" alt=""></a>
				</div>
				<div class="tit aa">
					<h3>
						<a href="{$v[url]}">{$v[title]}</a>
					</h3>
					<span>{date("Y-m-d",$v[inputtime])}</span>
				</div>
				<div class="tit2 bb">
		         {str_cut(strip_tags($v[content]),350,'...')}
				</div>
			</div>
			{else}
			<div id="Repeater1_ctl02_depth2" class="part line clearfix">
				<div class="tit aa1">
					<h3><a href="{$v[url]}">{$v[title]}</a></h3>
					<span>{date("Y-m-d",$v[inputtime])}</span>
				</div>
				<div class="tit2 bb1">		               
                   {str_cut(strip_tags($v[content]),350,'...')}          
				</div>
			</div>
			{/if}
            {/loop}
            {/pc}
			</div>


		</br>


         </div>
		
	</div>
	
 {template "content", "myfooter"}
