<div class="effect1" style="background: url({IMG_PATH}images/bannerbg.jpg) no-repeat bottom center;">
	            {if $top_parentid==31}
				<img src="{IMG_PATH}images/about_pic1.jpg" alt="">
                {elseif $top_parentid==10}
                <img src="{IMG_PATH}images/about_pic22.jpg" alt="">
                {elseif $top_parentid==11}
                <img src="{IMG_PATH}images/brand_pic.jpg" alt="">
                {elseif $top_parentid==12}
                <img src="{IMG_PATH}images/investor_pic.jpg" alt="">
                {elseif $top_parentid==32}
                <img src="{IMG_PATH}images/ac_pic1.jpg" alt="">
                {/if}
			</div>
		</div>
	</div>