{template "content", "myheader"}
     <link rel="stylesheet" href="{CSS_PATH}mycss/inverstor.css">
   	  <link rel="stylesheet" href="{CSS_PATH}mycss/show_title.css">
   		<div class="effect1" style="background: url({IMG_PATH}images/bannerbg.jpg) no-repeat bottom center;">
				<img src="{IMG_PATH}images/investor_pic.jpg" alt="">
			</div>
		</div>
	</div>
	<!-- 下部分 -->
	{template "content", "myleft"}
		    
            <div class="cont">
            	 {pc:content action="lists" num="1" siteid="$siteid" moreinfo="1" order="id ASC" catid="$catid"}
      {loop $data $v}
	           <h2>{$v[title]}</h2>
	          <p>{$v[content]}</p>
	           {/loop}
          {/pc}
            </div>
        
         </div>
		
	</div>
	
 {template "content", "myfooter"}

